.modalWrapper {
  position: absolute;
  display: flex;
  flex: 1;
  top: 15%;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 101;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalCard {
  position: relative;
  background-color: azure;
  min-width: 50%;
  max-height: 90%;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0 0.3);
  z-index: 10;
  overflow: auto;
}

.background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgb(36, 155, 66);
  opacity: 0.5;
  z-index: -1;
}

.closeModal {
  position: fixed;
  width: 100px;
  height: 25px;
  border-radius: 20px 0;
  background-color: #12121f;
  color: white;
  font-size: 20px;
}

/* amending */

.selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -ms-grid-columns: [first] 20% [end] 80%;
  grid-template-columns: [first] 20% [end] 80%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
