@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:300,700");

$stuBucks-dark: #0e141d;
$stuBucks-green: #067655;
$stuBucks-white: white;

%social-icons {
  background-size: 100%;
  height: 32px;
  width: 32px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
}

header {
  display: flex;
  text-align: center;
  background-color: $stuBucks-dark;
}

nav {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  padding: 0 200px;
  flex-wrap: wrap;
  color: $stuBucks-white;
  font-size: 20px;
  height: 80px;
}

.shipping {
  width: 80%;
  text-align: center;
}

.nearestStore {
  right: 0;
  background: $stuBucks-green;
  color: $stuBucks-white;
  width: 20%;
  text-align: center;
}

.offer {
  margin: 2px;

  &Bar {
    display: flex;
    flex-direction: row;
    font-size: 10px;
  }
}

a {
  color: $stuBucks-white;
  text-decoration: none;
}

.section_1 {
  height: 100vh;
  width: 100%;
  background-image: url(./Images/StubucksHero.jpg);
  background-size: cover;
}

.section_2 {
  height: 100vh;
  width: 100%;
  background-color: $stuBucks-dark;
  margin: 0;
  padding: 0;
  position: relative;
  display: inline-block;
}

.section_2_heading {
  font-size: 72px;
  font-weight: 700;
  position: relative;
  display: inline-block;
  margin: 0;
  margin-top: 15%;
}

.section_2_info {
  width: 45%;
  color: $stuBucks-white;
  font-size: 36px;
  text-align: right;
  position: absolute;
  display: inline-block;
  margin-top: 5%;
  margin-left: 15%;
}

.iceCoffee {
  top: 70px;
  left: 7.5%;
  height: 75%;
  position: relative;
}

.section_3 {
  margin: 0px 130px 0px 130px;
  position: relative;
}

.new-tag {
  color: $stuBucks-green;
}

.stuBrew-tag,
.nitroBrew-tag {
  color: $stuBucks-green;
}

/* START OF SHOP COFFEE, TEA & EQUIPMENT SECTION */

.arrowDown {
  display: flex;
  justify-content: center;
}

.green_arrow_down {
  width: 61px;
  height: 46px;
  padding-top: 29px;
}

.stuShopBanner {
  height: 100px;
  background-color: $stuBucks-green;
  font-size: 36px;

  &TextA {
    position: relative;
    top: 25%;
    margin: 0px;
    text-align: center;
    color: $stuBucks-white;
  }

  &TextB {
    color: $stuBucks-dark;
  }
}

.colStuShop h4 {
  font-size: 36px;
  margin: 25px;

  & p {
    font-size: 18px;
    margin: 25px;
    font-family: "Roboto Slab: 300", serif;
  }
}

.shopContainer {
  width: 100%;
  padding: 200px, 0px, 200px, 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
}

.buyCoffee,
.buyTea,
.buyEquipment {
  width: 320px;
  height: 320px;
  border-radius: 200px;
}

.column {
  float: left;
  width: 33.33%;
  text-align: center;
  padding: 100px 0px 100px 0px;
}

hr {
  border-top: 1px solid 0$stuBucks-dark;
  margin: 0px 150px 0px 150px;
}

/* END OF SHOP COFFEE, TEA & EQUIPMENT SECTION */

.section_4 {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: row;
  height: 611px;
  width: 100%;
  background-color: #e7e7e7;
  line-height: 35px;
}

.logo {
  position: absolute;
  height: 150px;
  width: 150px;
  top: 20px;
  left: 48px;
  padding-left: 20px;
  overflow: auto;
  cursor: pointer;
}

.text_box_1 {
  display: absolute;
  padding: 0;
  margin: 0;
  color: $stuBucks-white;
}

.landing_page {
  position: absolute;
  height: 89px;
  left: 120px;
  top: 300px;
  font-size: 92px;
  font-weight: 700;
}

.landing_info {
  position: absolute;
  width: 612px;
  height: 40px;
  font-size: 36px;
  left: 120px;
  top: 470px;
}

.love {
  color: $stuBucks-green;
}

.choose_coffee {
  position: relative;
  width: 225px;
  height: 50px;
  left: 120px;
  top: 540px;
  border-radius: 20px 0;
  background-color: $stuBucks-dark;
  color: $stuBucks-white;
  font-size: 20px;
  cursor: pointer;
}

.help,
.company_info,
.about_us {
  width: 40%;
}

#help,
#about_us,
#company_info,
#share {
  font-size: 28px;
  font-weight: 700;
  padding-bottom: 20px;
}

li {
  list-style-type: none;
  font-size: 20px;
}

.share_icons {
  display: flex;
  justify-content: space-between;
  width: 220px;
}

.fb {
  background-image: url(./Icons/icon-facebook.png);
  @extend %social-icons;
}

.insta {
  background-image: url(./Icons/icon-instagram.png);
  @extend %social-icons;
}

.linked {
  background-image: url(./Icons/icon-linkedin.png);
  @extend %social-icons;
}

.twitter {
  background-image: url(./Icons/icon-twitter.png);
  @extend %social-icons;
}

.pin {
  background-image: url(./Icons/icon-pinterest.png);
  @extend %social-icons;
}

.customer_service {
  display: flex;
  width: 50%;
  flex-wrap: wrap;
  padding-left: 245px;
}

._icons {
  padding: 0;
}

.footer {
  background: #0e141d;
  color: $stuBucks-white;
  font-size: 16px;
  margin: 0px;
  height: 125px;
  padding: 30px 0px 0px 0px;

  &Left {
    margin-left: 5%;
    display: inline-block;
  }

  &Right {
    text-align: right;
    float: right;
    display: inline-block;
    margin-right: 5%;
  }
}

.white_down_arrow {
  width: 61px;
  height: 46px;
  padding-top: 29px;
}

.white_arrow_container {
  display: flex;
  justify-content: center;
}

/* The coffeeInfo styles --> 

Menu Section */
.menuContainer {
  display: grid;
  grid-template-columns: [first]35% [second]35% [end]30%;
  border: solid black 0.1px;
  margin-bottom: 2px; 
}

/* The Drinks Section */
.coffeeNav {
  grid-column: 1/ -1;
}

.selection {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  font-weight: 700;
  background-color: $stuBucks-green;
  border: 1px solid black;
  font-size: 25px;
}

.coffeeCupImg {
  margin: 7.5px;
  height: 80px;
}

.counter-action {
  border: none;
  font-size: 1.15em;
  font-weight: bold;
  background-color: #DCDCDC;
  cursor: pointer;
  outline: 1px solid black;
  margin: 1rem;
  
    &:hover {
    color: #fff;
  }
}

.increment:hover {
  background: #83D97C;
}

.decrement:hover {
  background: #EF5350;
}

.counter-score {
  flex-grow: 1;
  text-align: center;
  font-family: monospace;
  font-size: 30px;
  line-height: 2em;
}

.basket-container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.basket-amount {
  padding: 20px;

}
.basket-names {
  padding: 20px;
}


@media screen and (max-width: 1024px) and (min-width: 460px) {
  .menuContainer {
    grid-template-columns: repeat(1, 1fr);
  }

  .header {
    grid-template-columns: repeat(1, 1fr);
  }

  .drinks {
    grid-template-columns: repeat(2, 1fr);
  }

  .selection {
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: repeat(4, 80px); */
    grid-auto-rows: 80px;
    grid-gap: 5px;
    justify-content: stretch;
    align-content: center;
  }
}

@media screen and (max-width: 375px) {
  .menuContainer {
    grid-template-columns: repeat(1, 1fr);
  }

  .menu {
    grid-template-rows: 1 / -1;
  }

  .drinks {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 100px;
    grid-gap: 5px;
    justify-content: stretch;
    align-content: center;
  }
}

@media screen and (min-width: 375px) and (max-width: 480px) {
  .menuContainer {
    grid-template-columns: repeat(1, 1fr);
  }

  .drinks {
    grid-template-columns: repeat(1, 1fr);
  }

  .selection {
    grid-template-columns: repeat(1, 1fr);
  }
}
